# Compiled class file
*.class

# Logs
*.log

# BlueJ
*.ctxt

# J2ME
.mtj.tmp/

# Packages
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# JVM crash logs
hs_err_pid*
replay_pid*

# Game files
scores.txt

# Build folders
target/
out/